body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.lock-container {
  width: 60px;
  height: 60px;
  display: flex;
  margin: auto;
  border-radius: 100%;
}

.lock {
  background-color: #14A293;
  width: 36px;
  height: 32px;
  margin-top: -4px;
  margin-left: -12px;
  border-radius: 0px 0px .3rem .3rem;
  animation: wiggle 1.5s linear infinite alternate;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 2px;
    animation: close 3s linear infinite alternate;
  }
  
  &:before {
    border-top: 3px solid #14A293;
    border-left: 3px solid #14A293;
    border-right: 3px solid #14A293;
    border-radius: 10px 10px 0 0;
    width: 30px;
    height: 20px;
    top: -20px;
    transform-origin: 1px 0;
  }
  
  &:after {
    width: 3px;
    background-color: #14A293;
    height: 20px;
    top: -11px;
  }
 
  .keyhole {
    position: absolute;
    width: 5px;
    height: 8px;
    background-color: #fff;
    border-radius: 5px;
    top: .7rem;
    left: .95rem;
  }
}

@keyframes close {
  0%, 10% {
    transform: translate(0%, 0%);
  }
  20%, 100% {
    transform: translate(0%, -7px);
  }
}

@keyframes wiggle {
  0%, 10%, 20%, 30%, 40% {
    transform: rotate(0);
  }
  40%, 50%, 60%, 70%, 80% {
    transform: rotate(10deg);
  }
  45%, 55%, 65%, 75%, 85% {
    transform: rotate(-10deg);
  }
  85%, 100% {
    transform: rotate(0);
  }
}