body {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}
.header{
    position: fixed;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 7px black;
    background-color: white;
}
.nav-item { 
    cursor: pointer;
    padding-bottom: 10px;
    color: #777777; 
    text-decoration: none;
}
#nav{
    z-index: 1;
}
.navbut-wrapper {
    border-bottom: 5px solid #14A293;
}
.hero-text{
    height: fit-content;
    margin: 0%;
    width: 500px;
}
.hero-div{
    padding-top: 100px;
}
#aboutus {
    background-color: #14A293;
    color: white;
}
p{
    text-align: center;
}
.aboutdiv{
    padding-right: 100px;
    padding-left: 100px;
}
#contactus{
    background-color: #777777;
    color: white;
}
#contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px 100px 200px;
}
.button{
    background-color: #14A293;
    border: none;
    width: 150px;
}
.button:hover{
    background-color: white;
    border: 2px solid #14A293;
    color: #14A293;
}
.button:focus{
    background-color: #14A293 !important;
    border: none !important;
    color: white !important;
}
.button-ext:hover:after{
    content: " \00bb";
    transition: 1s;
}