body{
    height: 100vh;
}
.card{
    width: 30%;
    box-shadow: 5px 5px 8px grey;
}
.card-body{
    width: 100%;
}
.error-message {
    color: #ED2939;
}
.w-90 {
    width: 90% !important;
}
#showhidepass{
    border: solid 1px lightgrey;
    background-color: transparent;
}
#showhidepass:hover{
    color: black;
    border: solid 1px lightgrey;
    background-color: transparent;
}
#gobackbut{
    width: 10%;
}
@media screen and (max-width: 1000px){
    .card{
        width: 60%;
    }
}
@media screen and (max-width: 700px){
    .card{
        width: 80%;
    }
}