body{
    height: 100vh;
}
.sidenav{
    height: 100vh;
    background-color: whitesmoke;
    border: none;
    padding: 15px;
    overflow-y: scroll;
}
.sidenav::-webkit-scrollbar {
    width: 9px; /* Width of the scrollbar */
}

.sidenav::-webkit-scrollbar-track {
    background: whitesmoke; /* Track color */
    border-radius: 6px;
}

#placeorder{
    margin-top: .5rem;
    height: 1.5rem;
    font-size: small;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    background-color: #14A293;
    border: none;
    padding: 0%;
}

#placeorder:hover{
    background-color: whitesmoke;
    color: #14A293;
    border: 2px solid #14A293;
}

.sidenav::-webkit-scrollbar-thumb {
    background: lightgrey; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
}

.sidenav::-webkit-scrollbar-thumb:hover {
    background: grey; /* Thumb color on hover */
    cursor: pointer;
}
.mainchat{
    height: 100vh;
    padding: 2% 10% 2% 10%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.quot-head-main-img{
    height: 20px;
}
.quot-head-main{
    font-weight: 700;
    font-size: medium;
}
.add-icon{
    font-size: large;
}
.add-icon-wrapper{
    background-color: whitesmoke;
    border: none;
    padding: 5px 10px 5px 10px;
}
.add-icon-wrapper:hover{
    background: rgba(69, 69, 69, 0.235);
    backdrop-filter: saturate(180%) blur(100px);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.08);
    transition: transform 500ms ;
}
.add-icon-wrapper:not(:hover){
    transform: scale(1);
    transition: transform 500ms ;
}
.quot-head{
    font-weight: 700;
    font-size: small;
}
.lg-style{
    background-color: whitesmoke;
    border: none;
    color: darkgrey;
}
.lg-style:hover{
    background: rgba(69, 69, 69, 0.235);
    backdrop-filter: saturate(180%) blur(100px);
    border-radius: 5px;
    color: black;
    transform: scale(1.02);
    transition: transform 500ms ;
}
.activated, .lg-style:focus{
    background: rgba(69, 69, 69, 0.235);
    backdrop-filter: saturate(180%) blur(100px);
    border-radius: 5px !important;
    color: black;
    transform: scale(1.02);
    transition: transform 500ms;
}
.lg-style:not(:hover){
    transform: scale(1);
    transition: transform 500ms ;
}
.send-inp{
    width: 7%;
    height: 100%;
    background: rgba(69, 69, 69, 0.151);
    backdrop-filter: saturate(180%) blur(100px);
    border: solid 1px lightgrey;
}
.send-inp:hover{
    background: rgb(255, 253, 253);
    border: solid 1px lightgrey;
    color: black;
}
.main-inp{
    border: solid 1px lightgrey;
}
.main-inp:hover{
    background: rgba(69, 69, 69, 0.151);
    backdrop-filter: saturate(180%) blur(100px);
}
.main-inp:focus{
    background-color: whitesmoke;
    border: solid 1px rgb(135, 134, 134);
    outline: none;
    box-shadow: none;
}
.btn-save:hover{
    color: green;
    background-color: whitesmoke;
    border: solid 2px green;
    transform: scale(1.02);
    transition: transform 500ms ;
}
.btn-delete:hover{
    color: red;
    background-color: whitesmoke;
    border: solid 2px red;
    transform: scale(1.02);
    transition: transform 500ms ;
}
.btn-save:not(:hover){
    transform: scale(1);
    transition: transform 500ms ;
}
.btn-delete:not(:hover){
    transform: scale(1);
    transition: transform 500ms ;
}
.chat-list-response{
    border: none;
}
.btn-reset-wrapper:hover{
    background: rgba(69, 69, 69, 0.235);
    backdrop-filter: saturate(180%) blur(100px);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.08);
    transition: transform 500ms;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn-reset-wrapper:not(:hover){
    transform: scale(1);
    transition: transform 500ms;
}
.btn-reset{
    font-size: large;
}
.chat-response-section{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #14A293;
}
.chat-response-section::-webkit-scrollbar {
    width: 9px; /* Width of the scrollbar */
}

.chat-response-section::-webkit-scrollbar-track {
    background: whitesmoke; /* Track color */
    border-radius: 6px;
}

.chat-response-section::-webkit-scrollbar-thumb {
    background: lightgrey; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
}

.chat-response-section::-webkit-scrollbar-thumb:hover {
    background: grey; /* Thumb color on hover */
    cursor: pointer;
}

.remove-quot:hover{
    color: red;
}

#inputForm{
    width: 100%;
}

.empty-form{
    display: none;
}

.type-animation{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}