*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.btn-holder{
    display: flex;
    justify-content: center;
}

#submitSignUp {
    margin: 1rem;
}
h3{
    text-align: center;
}

#signup-caption{
    font-size: 0.8rem;
    font-style: italic;
    font-family: monospace;
    font-weight: 400;
}

#submitSignUp:hover{
    background-color: white;
    border: 2px solid #14A293;
    color: #14A293;

}

.container{
    width: 40%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    width: 80%;
    padding: 2rem 3rem;
    /* margin: 2rem 0; */
    box-shadow: 5px 5px 8px grey;
}

.fullname{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.name{
    width: 47%;
    margin: 1rem 0;
    
}

#mail{
    width: 100%;
    margin: 1rem 0;   
}

#password{
    width: 100%;
    margin: 1rem 0;   
}

.inputs{
    padding: 0.4rem;
    margin: 1rem 0;
    /* border-radius: 20px; */
}

@media screen and (max-width:700px) {
    .fullname{
        display: flex;
        flex-direction: column;
    }
    #firstname{
        width: 100%;
    }
    #lastname{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .card{
        width: 90%;
    }
   #login-link{
    display: block;
   }
}